<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drying Machines</title>
</head>
<body style="background-color:#ffd1b3;">
    <h1>Drying Machines </h1>
    <img src="/static/OpenDryer.png" alt="Drying Machine"/>
    <form action="/DMaskStudent/SettingDryer.html" target="_blank" method="GET">
        <fieldset>
            <legend>Available washing machines are:</legend>
            <input type="radio" name="number" value="machine1" > Drying Machine 1<br>
            <input type="radio" name="number" value="machine2" > Drying Machine 2<br>
            <input type="radio" name="number" value="machine3" > Drying Machine 3<br>
            <input type="radio" name="number" value="machine4" > Drying Machine 4<br>
            <a href="/DMaskStudent/SettingDryer.html"><button>Next</button></a>
        </fieldset>
    </form>
</body>
</html>