<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RIT Laundry Services</title>

</head>
<body style="background-color:#ffd1b3;">
<center>
    <h1> Welcome  to RIT Laundry Services </h1>
    <form action="/WMaskStudent" target="_blank" method="GET">
    <fieldset>
    <legend>Select one of the machines you want to use:</legend>
        <div>
            <a href="WMaskStudent.html"><button>Washing Machine</button></a>
            <button>Drying Machine</button>
        </div>
    </fieldset>
    </form>
</center>

<img src="/static/washing machine.png" alt="Washing Machine"/>

</body>
</html>