<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RIT Laundry Services</title>

</head>
<body style="background-color:#ffd1b3;">
<center>
    <h1> Welcome  to RIT Laundry Services </h1>
    <form action="/WMaskStudent" target="_blank" method="GET">
    <fieldset>
    <legend>Select one of the machines you want to use:</legend>
        <div>
            <a href="/WMaskStudent"><button>Washing Machine</button></a>
            <a href="/DMaskStudent"><button>Drying Machine</button></a>
        </div>
    </fieldset>
    </form>
</center>

<img src="/static/OpenWM.png" alt="Open Washing Machine" align="left"/>

<img src="/static/OpenDryer.png" alt="Open Dryer Machine" algin="right"/>

</body>
</html>