<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WasherNotification</title>
</head>
<body style="background-color:#ffd1b3;">
<center>
    <form action="/washer/unlock/{{ washer_id }}"  target="_blank" method="GET">
        <h1> Washing machine is done!</h1>
        <br>
        <h1>Please come take your clothes out of the washing machine!</h1>
        <br>
        <br>
        <br>
        <fieldset>
            <a href="/waher/unlock/{{ washer_id }}"><button>Unlock Door</button></a>
            <br>
        </fieldset>
    </form>

</center>

</body>
</html>
