<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DryerNotification</title>
</head>
<body style="background-color:#ffd1b3;">
<center>
    <form action="/.html" target="_blank" method="GET">
        <h1> Dryer machine is done!</h1>
        <br>
        <h1>Please come take your clothes out of the Drying machine!</h1>
        <br>
        <br>
        <br>
        <fieldset>
            <a href="/.html"><button>Done</button></a>
        </fieldset>
    </form>
</center>

</body>
</html>