<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dryer Settings</title>
</head>
<body style="background-color:#ffd1b3;">
<center>
    <h1 style="font-family:verdana;">Choose Your Settings</h1>
</center>
<form action="/DMaskStudent/Settings/DryerTime.html" target="_blank" method="GET">
<form>
    <fieldset>
    <legend>Temperature:</legend>
        <div>
            <input type="radio" name="temp" value="heat"> No Heat <br>
            <input type="radio" name="temp" value="low"> Low <br>
            <input type="radio" name="temp" value="high"> High <br>
        </div>
    </fieldset>
</form>
    <br>
    <br>
<form>
    <fieldset>
    <legend>Dryness:</legend>
        <div>
            <input type="radio" name="temp" value="damp"> Damp <br>
            <input type="radio" name="temp" value="Ndry"> Near Dry <br>
            <input type="radio" name="temp" value="dry"> Dry <br>
        </div>
    </fieldset>
</form>
    <br>
    <br>
<form>
    <fieldset>
    <legend>Moisture Level:</legend>
        <div>
        <input type="radio" name="temp" value="sensing"> Sensing <br>
        <input type="radio" name="temp" value="wet"> Wet <br>
        <input type="radio" name="temp" value="dry"> Dry <br>
        </div>
    </fieldset>
</form>
    <br>
    <br>
<form>
    <fieldset>
    <legend>Auto-Sensing:</legend>
        <div>
            <input type="radio" name="temp" value="regular"> Regular <br>
            <input type="radio" name="temp" value="press"> Perm Press <br>
            <input type="radio" name="temp" value="delicate"> Delicate <br>
        </div>
    </fieldset>
</form>
    <br>
    <br>

    <a href="/WMaskStudent/Settings/DryerTime.html"><button>Start</button></a>
</form>
</body>
</html>
