<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body style="background-color:#ffd1b3;">
<center>
    <h1 style="font-family:verdana;">Choose Your Settings</h1>
</center>
<form>
    <fieldset>
    <legend>Temperature:</legend>
    <input type="radio" name="temp" value="cold"> Cold <br>
    <input type="radio" name="temp" value="warm"> Warm <br>
    <input type="radio" name="temp" value="hot"> Hot <br>
    </fieldset>
    <br>
    <br>
    <fieldset>
    <legend>Soil Level:</legend>
    <input type="radio" name="temp" value="low"> Low <br>
    <input type="radio" name="temp" value="medium"> Medium <br>
    <input type="radio" name="temp" value="high"> High <br>
    </fieldset>
    <br>
    <br>
    <fieldset>
    <legend>Spin Speed:</legend>
    <input type="radio" name="temp" value="low"> Low <br>
    <input type="radio" name="temp" value="medium"> Medium <br>
    <input type="radio" name="temp" value="high"> High <br>
    </fieldset>
    <br>
    <br>
    <fieldset>
    <legend>Present Cycles:</legend>
    <input type="radio" name="temp" value="heavyduty"> Heavy Duty <br>
    <input type="radio" name="temp" value="normaleco"> Normal Eco <br>
    <input type="radio" name="temp" value="delicat"> Delicate <br>
    <input type="radio" name="temp" value="permpress"> Perm Press <br>
    <input type="radio" name="temp" value="rinsespin"> Rinse & Spin <br>
    <input type="radio" name="temp" value="spin"> Spin <br>
    </fieldset>
    <br>


</body>
</html>
