<!DOCTYPE html>
<html lang="en">
<head>
    <title>RIT Laundring Services</title>
</head>
<body style="background-color:#ffd1b3;">
    <h1>Washing Machines </h1>
    <img src="/static/washing machine.png" alt="Washing Machine"/>
    <form action="/action_page.php" target="_blank" method="GET">
        <fieldset>
            <legend>Available washing machines are:</legend>
            <input type="radio" name="number" value="machine1" > Washing Machine 1<br>
            <input type="radio" name="number" value="machine2" > Washing Machine 2<br>
            <input type="radio" name="number" value="machine3" > Washing Machine 3<br>
            <input type="radio" name="number" value="machine4" > Washing Machine 4<br>
            <a href="Settings.html"><button>Next</button></a>
        </fieldset>
    </form>
</body>
</html>