<!DOCTYPE html>
<html lang="en">
<head>
    <title>RIT Laundry Services</title>
</head>
<body style="background-color:#ffd1b3;">
    <script type="text/javascript">
      function enableLink() {
        document.getElementById('nextLink').href = '/WMaskStudent/Settings.html';
      }

      function displayWarning() {
        alert('Please select a machine before continuing.');
      }
    </script>
    <h1>Washing Machines </h1>
    <img src="/static/OpenWM.png" alt="Washing Machine"/>
    <form action="/WMaskStudent/Settings.html" target="_blank" method="POST">
        <fieldset>
            <legend>Available washing machines are:</legend>
            {% for washer in available_washers %}
            <input type ="radio" name="washer_id" value="{{ washer.washer_id }}" onclick="javascript:enableLink();"> Washing Machine {{ washer.washer_id }}<br>
            {% endfor %}
        </fieldset>
        <input type="submit">
    </form>
</body>
</html>
