<!DOCTYPE html>
<html lang="en">
<head>
    <title>RIT Laundry Services</title>
</head>
<body style="background-color:#ffd1b3;">
    <h1>Washing Machines </h1>
    <img src="/static/OpenWM.png" alt="Washing Machine"/>
    <form action="/WMaskStudent/Settings.html" target="_blank" method="GET">
        <fieldset>
            <legend>Available washing machines are:</legend>
            <input type="radio" name="number" value="machine1" > Washing Machine 1<br>
            <input type="radio" name="number" value="machine2" > Washing Machine 2<br>
            <input type="radio" name="number" value="machine3" > Washing Machine 3<br>
            <input type="radio" name="number" value="machine4" > Washing Machine 4<br>
            <a href="/WMaskStudent/Settings.html"><button>Next</button></a>
        </fieldset>
    </form>
</body>
</html>